.main-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .main-container {
    flex-direction: column;
    gap: 2em;
  }
}

.main-cols {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1em;

  gap: 1em;
}

.left-col {
  align-items: center;
}

.right-col {
  align-items: flex-start;
  height: 24em;
  overflow-y: scroll;
}

.child-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.bottom-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  gap: 1em;
}

.radio-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1em;
}

.main-button {
  align-self: center;
  margin-top: 1em;
}
