<main>
  <div class="main-header">
    <img ngSrc="assets/images/dedalusTransparent.png" alt="Company logo" width="150" height="150">
    <h2>Text Analyzer</h2>
    <p style="width: 50%;
    text-align: center;">This tool provides functionality to counts how many
      vowels or consonants in a given text, it also provides the option to be used offline.</p>
  </div>
  <div class="main-container">
    <div class="main-cols left-col">
      <div class="child-container">
        <h3>Input</h3>
        <textarea [(ngModel)]="inputText" placeholder="Enter your text here"></textarea>
        <div class="bottom-container">
          <div class="radio-container">
            <app-toggle-switch trueChoice="Vowels" falseChoice="Consonants" (selectedChoice)="toggleVowel($event)"></app-toggle-switch>
            <app-toggle-switch trueChoice="Offline" falseChoice="Online" (selectedChoice)="toggleOffline($event)"></app-toggle-switch>
          </div>
          <p style="color: maroon" *ngIf="errorMessage">{{errorMessage}}</p>
          <button (click)="analyzeWord()" class="main-button">Analyze</button>
        </div>
      </div>
    </div>
    <hr style="margin: 0">
    <div class="main-cols right-col">
      <h3 style="align-self: center">Output</h3>
        <div *ngFor="let textEntry of allTextResults; let i = index">
            <hr *ngIf="i!=0">
            <p>Result for: {{ textEntry.text }}</p>
            <p *ngFor="let data of textEntry.result.entries()">
                Letter '{{ data[0] }}' appears {{ data[1]}} times
            </p>
        </div>
    </div>
  </div>
</main>

<router-outlet />
