<div class="mydict">
  <div>
    <label>
      <input type="radio" [name]=uniqueRadioName (change)="choiceChanged(true)" [checked]="isFirstChoiceSelected">
      <span>{{ trueChoice }}</span>
    </label>
    <label>
      <input type="radio" [name]=uniqueRadioName (change)="choiceChanged(false)" [checked]="!isFirstChoiceSelected">
      <span>{{ falseChoice }}</span>
    </label>
  </div>
</div>
