/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'PTSans';
  src: url('assets/fonts/PTSans-Regular.ttf') format("truetype");
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

* {
  font-family: PTSans, sans-serif;
}

textarea {
  width: 20em;
  height: 10em;
  background: #E2E2E2;
  border: none;
  border-radius: 1em;
  padding: 1em;
}

button {
  background: #E2E2E2;
  border-radius: 10px;
  border: none;
  padding: 1em 2em;
  font-weight: bold;
}

button:hover {
  opacity: 0.8;
  cursor: pointer;
}
